{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "jest": true,
        "node": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2018
    }
}
